#delete {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 20px;
    margin-top: 15px;
    background-color: #3a3a3a;
    color: white;
    box-shadow: 4px 4px 0px 0px #000000
}
