.spot-tile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.spot-tile {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 20%;
    height: 300px;
}

.spot-tile:hover {
    cursor: pointer;
}

#spot-tile-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#spot-city-state {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

#spot-tile-price {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
}

#tile-price {
    font-size: small;
    font-weight: bold;
    padding-right: 5px;
}

#spot-tooltip {
    position: absolute;
}

.spot-name-loc-detail {
    border: 1px solid black;
}

#spot-box {
    display: flex;
    justify-content: center;
}

.create-spot-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 250px; */
    width: 450px;
    /* border: 1px solid black; */
}

#form-location {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 2px solid lightgray;
    /* border: 1px solid black; */
}

#form-location p {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: smaller;
    font-weight: bold;
}

#city-state-label {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#city-label {
    width: 300px;
}

#state-label {
    width: 150px;
}

#lat-long-label {
    display: flex;
    justify-content: space-between;
    margin: 0;
    /* border: 1px solid black; */
}
#lat-label {
    width: 45%;
    /* border: 1px solid black; */
}
#long-label {
    width: 45%;
    /* border: 1px solid black; */
}
