/*
Simple css to get the dropdown working. need to make stylistic choices to make sure this works properly
*/

.profile-dropdown {
    /* position: absolute; */
    top: 30px;
    /* adjust as needed to position the menu below the button */
    right: 0;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.profile-dropdown.hidden {
    display: none;
}
