/*
Simple css to get the dropdown working. need to make stylistic choices to make sure this works properly
*/

.profile-dropdown {
    position: relative;
    border: 1px solid;
    border-radius: 0;
    box-shadow: 0px 0px 10px #888;
    font-size: 1rem;
    background-color: #444;
    padding: 10px;
    right: 20px;
    width: auto;
    text-align: left;
    margin: 2px 0 5px 0;
}

.profile-dropdown.hidden {
    display: none;
}
